body {
  margin: 0;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #fafafa;
}

.object-embed {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

#poll-container {
  max-width: 600px;
  margin: 0 auto;
}

.poll {
  max-width: 600px;
  margin: 0 auto 2rem;
  border-radius: 8px;
  color: #444;
}

.poll h2 {
  font-size: 2.25rem;
  line-height: 1.4;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.poll .description {
  color: #b8b8b8;
  margin-bottom: 1.5rem;
}

.poll .option-wrapper input {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.poll .option {
  cursor: pointer;
  padding: 16px 24px;
  border-radius: 8px;
  font-size: 20px;
  background-color: #fff;
  margin-bottom: 1.2rem;
  border: 2px solid #fff;
}

.poll .option-wrapper input[type="radio"]:checked + .option {
  box-shadow: 0px 10px 15px -3px #0000001A, 0px 4px 6px -2px #0000000D;
  border: 2px solid #4198ff;
}

.poll .option:hover {
  box-shadow: 0px 10px 15px -3px #0000001A, 0px 4px 6px -2px #0000000D;
}

.poll .option .range-wrapper {
  border-radius: 4px;
  background-color: #eee;
  height: 8px;
  margin: 12px 0;
}

.poll .option .range-wrapper .range-percent {
  border-radius: 4px;
  background-color: #4198ff;
  height: 100%;
  transition: width 0.5s ease;
}

.poll .option .number-of-votes {
  margin: 0.75rem 0 0 0;
  font-size: 12px;
  color: #b8b8b8;
}
